<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Leinster</ion-title>
    <ion-buttons>
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Leinster</ion-title>
    </ion-toolbar>
  </ion-header>
  <img src="https://upload.wikimedia.org/wikipedia/commons/8/8d/Flag_of_Leinster.svg" alt="Flag_of_Leinster" width="700">
  <br>
  <!-- routerLink can be used here instead of router -->
  <!-- <ion-button (click)="OnClick()">Go to counties</ion-button> -->
  <ion-button [routerLink]="['/counties-leinster']">Go to counties</ion-button>
</ion-content>
