<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Connaught</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Connaught</ion-title>
    </ion-toolbar>
  </ion-header>

  <img src="https://flagsireland.com/cdn/shop/files/ConnachtFlag.png?v=1683015811" alt="ConnachtFlag" width="700">
  <h1>Counties in Connaught</h1>
  <ul>
    <li>Sligo</li>
    <li>Galway</li>
    <li>Roscommon</li>
    <li>Mayo</li>
    <li>Leithrim</li>
  </ul>
</ion-content>
