<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Ulster</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Ulster</ion-title>
    </ion-toolbar>
  </ion-header>

  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Flag_of_Ulster.svg/1920px-Flag_of_Ulster.svg.png" alt="ulster flag" width="700">

</ion-content>
